---
import CVEditor from '../../components/CVEditor.vue';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getResumePaths } from '../../utils/resumePaths';
export async function getStaticPaths() {
	return getResumePaths();
}
const { id } = Astro.params;
---

<BaseLayout pageTitle="Editor">
	<div
		class="dark:border-3 overflow-hidden rounded-lg border-4 border-primary bg-primary dark:border-zinc-300 dark:bg-dark-primary"
	>
		<CVEditor client:only="vue" Id={id} />
	</div>
</BaseLayout>
