---
import CVEditor from '../../components/CVEditor.vue';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getResumePaths } from '../../utils/resumePaths';
import '@vuepic/vue-datepicker/dist/main.css';

export async function getStaticPaths() {
	return getResumePaths();
}
const { id } = Astro.params;
---

<BaseLayout pageTitle="Editor">
	<div class="overflow-hidden rounded-lg">
		<CVEditor client:only="vue" Id={id ?? ''} />
	</div>
</BaseLayout>
