body {
  background-color: #f3eefb;
  font-family: Montserrat, sans-serif;
}
.dark body {
  background-color: #04041a;
  color: #fff;
}
.dark .nav-links a {
  color: #fff;
}
.dark a {
  color: rgb(2, 137, 255);
}
.dark a.social {
  color: #fff;
}
.dark .nav-links a:hover,
a:focus {
  color: white;
  background-color: #12123b;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button {
  padding: 1rem;
  border-radius: 2rem;
  background-color: #4c1d95;
  border-color: transparent;
  color: #fff;
  font-size: 1rem;
}
button:active {
  background-color: #6c5392;
}
input {
  padding: 1rem;
  border-radius: 2rem;
  border: rgb(126, 126, 126) solid 0.08rem;
}
.section-card {
  width: 40%;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  margin: 0.5rem;
}
.dark .section-card {
  border: 0.2rem solid white;
}
@media (max-width: 1250px) {
  .section-card {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .section-card {
    width: 60%;
  }
}
@media (max-width: 450px) {
  .section-card {
    width: 75%;
  }
}
