@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --vdp-elem-font-size: 0.6em;
  --primary-color: #3c1774;
  --primary-form-color: #5726a1;
  --anchor-color: #42bbc2;
  --placeholder-color: rgb(180, 180, 180);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-form-color);
}

.section-card {
  width: 40%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  margin: 0.5rem;
}

@media (max-width: 1250px) {
  .section-card {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .section-card {
    width: 60%;
  }
}
@media (max-width: 450px) {
  .section-card {
    width: 75%;
  }
}
