@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --vdp-elem-font-size: 0.6em;
  --primary-color: #3c1774;
  --primary-form-color: #5726a1;

  --placeholder-color: rgb(180, 180, 180);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-form-color);
}

.dark .nav-links a {
  color: #fff;
}
.dark a {
  color: rgb(2, 137, 255);
}
.dark a.social {
  color: #fff;
}
.dark .nav-links a:hover,
a:focus {
  color: white;
  background-color: #12123b;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button {
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: var(--primary-color);
  border-color: transparent;
  color: #fff;
  font-size: 1rem;
}
button:active {
  background-color: #6c5392;
}

.section-card {
  width: 40%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid black;
  margin: 0.5rem;
}

@media (max-width: 1250px) {
  .section-card {
    width: 50%;
  }
}
@media (max-width: 1000px) {
  .section-card {
    width: 60%;
  }
}
@media (max-width: 450px) {
  .section-card {
    width: 75%;
  }
}
