---
import Contacts from '../components/Contacts.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<!-- TODO: Make a better positioning for the contacts --><!-- TODO: Add info of the proyect to about -->
<BaseLayout pageTitle="About Me">
    <h2>I'm a software engineer!</h2>
    <Contacts />
</BaseLayout>
