---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<Navigation />

<h1>About Me</h1>
<h2>I'm a software engineer!</h2>
<Footer />
