---
import BaseLayout from '../layouts/BaseLayout.astro';
import ResumesList from '../components/ResumesList.vue';
---

<!-- TODO: Improve design -->
<BaseLayout pageTitle="Editor of curriculums / Cuvimaker">
	<div class="overflow-hidden rounded-lg bg-base-100">
		<ResumesList client:idle />
	</div>
</BaseLayout>
