---
import BaseLayout from '../layouts/BaseLayout.astro';
import ResumesList from '../components/ResumesList.vue';
import Title from '../components/Title.astro';
---

<BaseLayout pageTitle="Editor of curriculums / Cuvimaker">
	<Title>Resumes</Title>
	<ResumesList client:idle />
</BaseLayout>
