---
import BaseLayout from '../layouts/BaseLayout.astro';
import ResumesList from '../components/ResumesList.vue';
import Title from '../components/Title.astro';
---

<BaseLayout pageTitle="Editor of curriculums / Cuvimaker">
	<div class="my-6">
		<Title>Resumes</Title>
	</div>
	<div class="rounded-lg bg-base-100">
		<ResumesList client:idle />
	</div>
</BaseLayout>
