---
import BaseLayout from '../layouts/BaseLayout.astro';
import ResumesList from '../components/ResumesList.vue';
---

<BaseLayout pageTitle="Editor">
	<div class="dark:border-3 bg-base-300 overflow-hidden rounded-lg">
		<ResumesList client:idle />
	</div>
</BaseLayout>
