---
import BaseLayout from '../layouts/BaseLayout.astro';
import ResumesList from '../components/ResumesList.vue';
---

<BaseLayout pageTitle="Editor">
	<div
		class="overflow-hidden rounded-lg border-2 border-solid border-neutral"
	>
		<ResumesList client:idle />
	</div>
</BaseLayout>
