---
import BaseLayout from "../layouts/BaseLayout.astro";
import Editor from "../components/Editor.vue";
---

<BaseLayout pageTitle="Online CV Maker">
  <section>
    <h2>Editor</h2>
  </section>
  <Editor client:only />
</BaseLayout>
