---
import BaseLayout from "../layouts/BaseLayout.astro";
import Editor from "../components/Editor.vue";
---

<BaseLayout pageTitle="CV Editor">
  <section>
    <h2>Editor</h2>
  </section>
  <Editor />
</BaseLayout>
