---
import BaseLayout from '../layouts/BaseLayout.astro';
import ResumesList from '../components/ResumesList.vue';
---

<BaseLayout pageTitle="Editor">
	<div class="overflow-hidden rounded-lg bg-base-100">
		<ResumesList client:idle />
	</div>
</BaseLayout>
