---
import BaseLayout from '../layouts/BaseLayout.astro';
import CVExampleImages from '../components/CVExampleImages.astro';
import Title from '../components/Title.astro';
import BasicButton from '../components/shared/Button/BasicButton.vue';
---

<!-- TODO: Improve design -->
<BaseLayout pageTitle="An online curriculum vitae maker / Cuvimaker">
	<div class="p-2 max-md:p-1">
		<Title>Create your own <br /> curriculum vitae</Title>
		<p class="mb-6 text-lg max-lg:text-center">
			Save your personal data, skills, experience, projects <br
				class="hidden max-lg:block"
			/> and more and download the cv in a pdf format.
		</p>
		<div class="mb-6 hidden max-lg:block">
			<CVExampleImages />
		</div>
		<div class="max-lg:text-center">
			<a href="editor">
				<BasicButton
					aria-label="Create curriculum"
					name={'Create curriculum'}
				/>
			</a>
		</div>
	</div>
	<div class="block w-1/2 p-3 max-lg:hidden max-lg:w-2/5">
		<div class="w-72">
			<CVExampleImages />
		</div>
	</div>
</BaseLayout>
