---
import BaseLayout from '../layouts/BaseLayout.astro';
import BasicButton from '../components/shared/Button/BasicButton.vue';
import CvExampleImages from '../components/CvExampleImages.astro';
---

<!-- TODO: Add some styles to the images -->
<BaseLayout pageTitle="Cuvimaker">
    <div class="flex w-2/3 max-md:w-full items-center">
        <div class="p-2">
            <h2 class="mb-4 text-3xl font-bold">
                Create elegant and simple CVs
            </h2>
            <p class="mb-4">
                Complete your personal data, skills, experience, projects and
                more. Download the cv in a pdf file
            </p>
            <div class="hidden max-md:block">
                <CvExampleImages />
            </div>

            <a href="editor">
                <BasicButton name={'Create CV'} />
            </a>
        </div>
        <div class="block max-md:hidden">
            <CvExampleImages />
        </div>
    </div>
</BaseLayout>
