---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Online CV Editor</title>
  </head>
  <body>
    <Navigation />
    <h1>Online CV Editor</h1>
    <h3>Create an elegant cv online.</h3>
  </body>
</html>
<style></style>
