---
import BaseLayout from '../layouts/BaseLayout.astro';
import CvExampleImages from '../components/CvExampleImages.astro';
import Subtitle from '../components/Subtitle.astro';
import BasicButton from '../components/shared/Button/BasicButton.vue';
---

<BaseLayout pageTitle="Cuvimaker">
	<div class="flex w-2/3 max-lg:w-3/4 max-md:w-full items-center">
		<div class="p-5 max-md:p-2">
			<Subtitle>Create elegant and simple CVs</Subtitle>
			<p class="mb-4 text-sm">
				Complete your personal data, skills, experience, projects and
				more. Download the cv in a pdf file
			</p>
			<br />
			<div class="hidden max-md:block">
				<CvExampleImages />
			</div>

			<a href="editor">
				<BasicButton name={'Create CV'} />
			</a>
		</div>
		<div class="block max-md:hidden">
			<CvExampleImages />
		</div>
	</div>
</BaseLayout>
