---
import Social from './Social.astro';
import Subtitle from './Subtitle.astro';
---

<Subtitle>Want to give me some feedback?</Subtitle>
<p class="text-base">You can contact me in these social medias:</p>
<div class="mt-2 flex flex-row p-2 max-md:justify-center">
	<Social platform="github" username="carlosjorger" icon="github" />
	<Social platform="twitter" username="carlosjorgerc" icon="twitter" />
	<Social
		platform="linkedin"
		username="carlosjorger"
		icon="linkedin"
		extraPath="/in"
	/>
	<Social
		platform="t.me"
		username="carlosjorger"
		icon="ic:baseline-telegram"
	/>
</div>
