---
import ExampleImage from './ExampleImage.astro';
---

<div class="m-8 flex justify-center max-md:m-5">
	<!-- TODO: create a better image -->
	<ExampleImage imageSrc="./cv.webp" altText="curriculum vitae example" />
</div>
