---
import ExampleImage from './ExampleImage.astro';
---

<div class="flex m-8 max-md:m-5 justify-center">
	<div
		class="shadow-[0_5px_40px_rgba(63,50,104)] dark:shadow-[0_5px_40px_#42bbc2] max-w-[350px] rounded-sm overflow-hidden"
	>
		<ExampleImage imageSrc="./cv.webp" />
	</div>
</div>
