---
import ExampleImage from './ExampleImage.astro';
---

<div class="m-8 flex justify-center max-md:m-5">
	<div
		class="max-w-[350px] overflow-hidden rounded-sm shadow-[-11px_11px_60px_hsl(var(--wa))] dark:shadow-[-11px_11px_60px_hsl(var(--a))]"
	>
		<!-- TODO: create a better image -->
		<ExampleImage imageSrc="./cv.webp" />
	</div>
</div>
