---
import ExampleImage from './ExampleImage.astro';
---

<div class="p-5">
	<div
		class="shadow-[0_5px_40px_rgba(63,50,104)] dark:shadow-[0_5px_40px_#42bbc2]"
	>
		<ExampleImage imageSrc="./cv.jpg" />
	</div>
</div>
