---
import ExampleImage from './ExampleImage.astro';
---

<div class="m-8 flex justify-center max-md:m-5">
	<!-- TODO: apply this animation https://www.youtube.com/watch?v=dHN5pP-OCog -->
	<ExampleImage imageSrc="./cv.webp" altText="curriculum vitae example" />
</div>
