---
const platform = "github";
const username = "CarlosJorgeR";
import Social from "./Social.astro";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <Social platform="twitter" username="CarlosJorgeRod3" />
  <Social platform="linkedin" username="cjrcuello" extraPath="/in" />
</footer>
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
  }
</style>
