---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
	<nav
		class="flex justify-between bg-[#f5f0ff] p-2 shadow-md transition-colors dark:bg-dark-primary-200 dark:transition-colors dark:duration-500"
	>
		<Navigation />
		<ThemeIcon />
	</nav>
</header>
