---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
	<nav class="flex justify-between bg-base-100 shadow-md">
		<Navigation />
		<ThemeIcon />
	</nav>
</header>
