---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<!-- TODO: Use daisy Ui navbar -->
<header>
	<nav
		class="flex justify-between bg-base-100 p-2 shadow-md transition-colors dark:transition-colors dark:duration-500"
	>
		<Navigation />
		<ThemeIcon />
	</nav>
</header>
