---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
	<nav
		class="bg-base-100 flex justify-between p-2 shadow-md transition-colors dark:transition-colors dark:duration-500"
	>
		<Navigation />
		<ThemeIcon />
	</nav>
</header>
