---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
	<nav class="navbar bg-base-100 shadow-md">
		<div class="flex-1">
			<Navigation />
		</div>
		<div class="flex-none">
			<ThemeIcon />
		</div>
	</nav>
</header>
