---
import NavigationLink from './NavigationLink.astro';
---

<ul class="menu menu-horizontal px-1 text-sm">
	<li>
		<NavigationLink href="/" text="Cuvimaker" />
	</li>
	<li>
		<NavigationLink href="/editor" text="Editor" />
	</li>
	<li>
		<NavigationLink href="/about" text="About" />
	</li>
</ul>
