---
import NavigationLink from './NavigationLink.astro';
---

<div class="menu menu-horizontal px-1 text-sm">
	<NavigationLink href="/" text="Cuvimaker" />
	<NavigationLink href="/editor" text="Editor" />
	<NavigationLink href="/about" text="About" />
</div>
