---
import NavigationLink from "./NavigationLink.astro";

---


  <div class="inline-block p-2">
    <NavigationLink href="/" text="Home"/>
    <NavigationLink href="/about" text="About"/>
    <NavigationLink href="/editor" text="Editor"/>
  </div>


