---
import NavigationLink from './NavigationLink.astro';
---

<div class="flex items-center p-1 text-sm">
	<NavigationLink href="/" text="Home" />
	<NavigationLink href="/editor" text="Editor" />
	<NavigationLink href="/about" text="About" />
</div>
