---
import NavigationLink from './NavigationLink.astro';
---

<div class="inline-block p-2">
    <NavigationLink href="/" text="Home" />
    <NavigationLink href="/editor" text="Editor" />
    <NavigationLink href="/about" text="About" />
</div>
