---
import { Icon } from 'astro-icon';
const { platform, username, icon, extraPath = '' } = Astro.props;
---

<a
	class="mr-4 w-16 text-accent transition-colors duration-300 hover:text-accent-focus max-sm:w-12"
	href={`https://www.${platform}.com${extraPath}/${username}`}
>
	<Icon name={icon} />
</a>
