---
import '@fontsource/figtree';
import '@fontsource/figtree/900.css';
---

<h2
	class="mb-4 mt-8 font-figtree text-4xl font-black max-md:mb-3 max-md:mt-6 max-md:text-center max-md:text-2xl"
>
	<slot />
</h2>
