---
import '@fontsource/figtree';
import '@fontsource/figtree/900.css';
---

<h2
	class="my-4 font-figtree text-6xl text-[4.1rem] font-black max-lg:text-center max-lg:text-5xl max-md:text-4xl"
>
	<slot />
</h2>
