---
import '../styles/global.css';
import Header from '../components/Header.astro';
import '@fontsource/montserrat';
const { pageTitle } = Astro.props;
---

<!-- Add view transition api -->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="keywords"
			content="cuvimaker,Online Cv Maker,Astro,CV,Online,Editor,CV Maker,CSS,JavaScript,Github,Repository"
		/>
		<link rel="icon" type="image/svg+xml" href="/cuvimaker.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<meta
			name="description"
			content="An online editor of cv, SEO-friendly made in Astro"
		/>
	</head>
	<body
		class=" font-montserrat text-primary bg-[#f5f0ff] dark:text-gray-300 dark:bg-[#130624] transition-colors duration-500 dark:transition-colors dark:duration-500"
	>
		<Header />
		<main class="m-6 max-md:m-5 max-sm:m-3">
			<h1
				class="text-2xl mt-2 mb-2 font-bold dark:text-white max-md:text-xl"
			>
				{pageTitle}
			</h1>
			<slot />
		</main>
	</body>
</html>
