---
import '../styles/global.css';
import Header from '../components/Header.astro';
import '@fontsource/montserrat';
import ViewTransitions from 'astro/components/ViewTransitions.astro';
const { pageTitle } = Astro.props;
---

<!-- Add view transition api -->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="keywords"
			content="cuvimaker,Online Cv Maker,Astro,CV,Online,Editor,CV Maker,CSS,JavaScript,Github,Repository"
		/>
		<link rel="icon" type="image/svg+xml" href="/cuvimaker.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<meta
			name="description"
			content="An online editor of cv, SEO-friendly made in Astro"
		/>
		<ViewTransitions />
	</head>
	<body
		class="bg-[#f5f0ff] font-montserrat text-primary transition-colors duration-500 dark:bg-[#130624] dark:text-gray-300 dark:transition-colors dark:duration-500"
	>
		<Header />
		<main class="m-6 max-md:m-5 max-sm:m-3">
			<h1
				class="mb-2 mt-2 text-2xl font-bold dark:text-white max-md:text-center max-md:text-2xl"
			>
				{pageTitle}
			</h1>
			<slot />
		</main>
	</body>
</html>
