---
import '../styles/global.css';
import Header from '../components/Header.astro';
import '@fontsource/montserrat';
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import { Icon } from 'astro-icon';

const { pageTitle } = Astro.props;
const pathname = Astro.url.pathname;
const isANestedPathRex = /^\/\w+\/\w+/;
const isANestedPath = pathname.match(isANestedPathRex)?.[0];
const parentPathRex = /^\/\w+/;
const parentPath = pathname.match(parentPathRex)?.[0];
---

<!-- Add view transition api -->
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			name="keywords"
			content="cuvimaker,Online Cv Maker,Astro,CV,Online,Editor,CV Maker,CSS,JavaScript,Github,Repository"
		/>
		<link rel="icon" type="image/svg+xml" href="/cuvimaker.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<meta
			name="description"
			content="An online editor of cv, SEO-friendly made in Astro"
		/>
		<ViewTransitions />
	</head>
	<body
		class="bg-[#f5f0ff] font-montserrat text-primary transition-colors duration-500 dark:bg-[#130624] dark:text-gray-300 dark:transition-colors dark:duration-500"
	>
		<Header />
		<main class="m-6 max-md:m-5 max-sm:m-3">
			<div class="flex items-center">
				{
					isANestedPath && (
						<a href={parentPath} aria-label="go back">
							<Icon name="ic:baseline-arrow-left" class="w-8" />
						</a>
					)
				}
				{!isANestedPath && <div class="w-8" />}
				<h1
					class="mb-4 mt-4 text-2xl font-bold dark:text-white max-md:text-center max-md:text-2xl"
				>
					{pageTitle}
				</h1>
			</div>
			<div class="ml-2"><slot /></div>
		</main>
	</body>
</html>
